.quantityControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  div:first-child {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  div:last-child {
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;

      svg {
        color: #2563eb;
      }
    }
  }
}

.quantityButton {
  background: #f3f4f6;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.25rem;
  transition: background-color 0.2s;
  color: black;
}

.quantityButton:hover {
  background: #e5e7eb;
}

.quantityInput {
  width: 48px;
  height: 32px;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  text-align: center;
  font-size: 1rem;
}
